<!-- ********************************************全局的CSS样式******************************************** -->
<!--style.css-->
<link href="/css/style.css" rel="stylesheet">
<!--bootstrap-->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- layer -->
<link rel="stylesheet" href="/js/plugins/layer/skin/layer.css" />

<!-- ********************************************全局的JS样式******************************************** -->
<!--jquery-->
<script src="/js/jquery.min.js"></script>

<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>

<!-- bootstrap-table -->
<script src="/js/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

<!-- layer -->
<script type="text/javascript" src="/js/plugins/layer/layer.min.js" ></script>

<!--Validform 表单验证-->
<script type="text/javascript" src="/validform/js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".registerform").Validform({
            tiptype:2
        });
    })
</script>